{
  "all": true,
  "include": ["src/**/*.ts", "src/**/*.tsx"],
  "exclude": [
    "node_modules/**",
    "src/gen-ts/**",
    "src/__tests__/**",
    "cypress/**",
    "**/*.d.ts",
    "**/coverage/**",
    "**/dist/**",
    "scripts/**"
  ],
  "reporter": ["text", "html", "lcov"],
  "lines": 70,
  "functions": 70,
  "branches": 70,
  "statements": 70,
  "check-coverage": true,
  "extension": [".ts", ".tsx"]
}
